@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray-1: #e6e6e6;
  --gray-2: #cccccc;
  --gray-3: #b3b3b3;
  --gray-4: #999999;
  --gray-5: #808080;
  --gray-6: #666666;
  --gray-7: #4d4d4d;
  --gray-8: #333333;
  --gray-9: #1a1a1a;
}

@theme inline {
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-josefin: var(--font-josefin-sans);
  --font-humane: var(--font-humane);
  --font-maragsa: var(--font-maragsa);
}

@theme {
  --color-c1: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@layer components {
  .link-decoration {
    @apply absolute bottom-1.5 right-0 size-[70%] origin-bottom bg-white/10 group-hover:scale-y-12 transition-transform duration-300 ease-out -z-10;
  }
  .text-spacing {
    @apply font-josefin text-xl text-gray-1 leading-6 tracking-[0.18em];
  }
  .link-style {
    @apply relative inline-block py-3 pr-6;
  }

  .title-responsive {
    @apply inline-block font-humane leading-[0.8]  
      text-[16rem] 
      max-[1280px]:text-[14rem] 
      max-[640px]:text-[12rem] 
      max-[400px]:text-[8.5rem];
  }
  .title-set-height {
    @apply h-[190px] 
    max-[1280px]:h-[165px] 
    max-[640px]:h-[142px] 
    max-[400px]:h-[100px];
  }
  .title-span {
    @apply block font-maragsa text-2xl text-white;
  }
  .title-gradient-white {
    @apply bg-gradient-to-b from-white to-gray-1 
      bg-clip-text text-transparent;
  }
  .title-gradient-black {
    @apply bg-gradient-to-b from-black to-gray-9 
      bg-clip-text text-transparent;
  }
  .hero-pt {
    @apply pt-[182px] 
    max-[640px]:pt-[238px] 
    max-[400px]:pt-[290px];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
