@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray-1: #e6e6e6;
  --gray-2: #cccccc;
  --gray-3: #b3b3b3;
  --gray-4: #999999;
  --gray-5: #808080;
  --gray-6: #666666;
  --gray-7: #4d4d4d;
  --gray-8: #333333;
  --gray-9: #1a1a1a;
  --gray-10: #0d0d0d;

  --green-1: #37f230;
}

@theme inline {
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);

  --color-green-1: var(--green-1);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-dm-sans: var(--font-dm-sans);
  --font-krisha: var(--font-krisha);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--gray-10);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@layer utilities {
  /* ----- TYPOGRAPHY ----- */
  .fontDisplay {
    @apply font-krisha tracking-wide;
    font-size: clamp(3.75rem, 18vw, 8rem);
    line-height: clamp(52px, 16vw, 108px);
  }
  .fontWorksDisplay {
    @apply font-krisha tracking-wide;
    font-size: clamp(2.25rem, 10vw, 3.75rem);
    line-height: clamp(36px, 10vw, 56px);
  }
  .fontWorksSubDisplay {
    @apply font-krisha tracking-wide;
    font-size: clamp(1.25rem, 5vw, 1.875rem);
    line-height: clamp(24px, 5vw, 32px);
  }
  .fontLinks {
    @apply font-dm-sans font-medium text-base tracking-[0.3em] leading-5;
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: clamp(18px, 2vw, 20px);
  }
  .fontBody {
    @apply font-dm-sans font-medium text-base leading-5;
  }
  .fontCopyInfos {
    @apply font-dm-sans font-extralight text-base leading-5;
  }

  /* ----- LINK ----- */
  .linkBase {
    @apply relative inline-block py-3 pr-6 z-10;
  }
  .linkDecoration {
    @apply absolute bottom-1/6 right-0 w-2/3 h-3/4 origin-bottom bg-gray-3 opacity-20 group-hover:scale-y-12 group-focus-visible:scale-y-12 transition-transform duration-400 -z-10;
    transition-timing-function: cubic-bezier(0.85, 0.09, 0.15, 0.91);
  }

  /* ----- GRADIENT ----- */
  .textLinearWhite {
    @apply bg-linear-to-b from-white to-gray-1 bg-clip-text text-transparent;
  }
  .textLinearBlack {
    @apply bg-linear-to-b from-gray-9 to-black bg-clip-text text-transparent;
  }

  /* ----- CLIP-PATH-DESCRIPTION ----- */
  .clipPathDesccription {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}
